*.txt
dashboard/assets/uploads/assignments/accounts/*
dashboard/assets/uploads/assignments/biology/*
dashboard/assets/uploads/assignments/physics/*
dashboard/assets/uploads/assignments/chemistry/*
dashboard/assets/uploads/assignments/business/*
dashboard/assets/uploads/assignments/economics/*
dashboard/assets/uploads/assignments/english/*
dashboard/assets/uploads/assignments/mathematics/*
dashboard/assets/uploads/assignments/science/*
dashboard/assets/uploads/assignments/*.jpg
dashboard/assets/uploads/assignments/*.png
dashboard/assets/uploads/assignments/*.docx
dashboard/assets/uploads/assignments/*.doc
dashboard/assets/uploads/assignments/*.jpeg
dashboard/assets/uploads/student/accounts/*
dashboard/assets/uploads/student/biology/*
dashboard/assets/uploads/student/physics/*
dashboard/assets/uploads/student/chemistry/*
dashboard/assets/uploads/student/business/*
dashboard/assets/uploads/student/economics/*
dashboard/assets/uploads/student/english/*
dashboard/assets/uploads/student/mathematics/*
dashboard/assets/uploads/student/science/*
dashboard/assets/uploads/student/*.jpeg
dashboard/assets/uploads/student/*.jpg
dashboard/assets/uploads/student/*.png
dashboard/assets/uploads/student/*.docx
dashboard/assets/uploads/student/*.doc
